html, body {
  background-color: white;
  font-family: Alegreya, serif;
  font-size: 20px;
  word-wrap: break-word;
}

.main-container {
  width: 99%;
  max-width: 900px;
  margin: 0px auto;
  padding: 0px 20px 20px 20px;
  box-sizing: border-box;
}

header {
  margin-top: 20px;
  color: #708B75;
  padding: 10px 0px;
  position: relative;
  text-align: center;
}

nav {
  color: #3D315B;
  letter-spacing: 1px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration-color: #bbb;
}

hr {
  height: 3px;
  background-color: #ddd;
  border: none;
}

.project-container {
  margin-top: 20pt;
  display: grid;
}
@media (min-width: 900px) {
  .project-container {
    grid-template-areas: "image description";
    grid-template-columns: 300px auto;
  }
}
@media (max-width: 900px) {
  .project-container {
    grid-template-areas: "image"
                         "description";
  }
}
.description-container {
  margin-left: 10pt;
  grid-area: description;
}
.image-container {
  grid-area: image;
}
.project-image {
  max-width: 100%;
  max-height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.preview-image {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.sourceCode {
  font-size: 16px;
}
code {
  font-size: 16px;
}
pre.sourceCode {
  overflow-wrap: normal;
  white-space: nowrap;
  word-wrap: normal;
  overflow: auto;
}

img {
  max-width: 100%;
}
