<article>
    <section class="header">
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
    </section>
    <h2>$title$</h2>
    <section>
        $body$
    </section>
</article>
