<h2>My cool projects</h2>

$for(projects)$
    <div class="project-container">
        <div class="image-container">
            <a href="$url$">
                <img class="project-image" src="$image$"></img>
            </a>
        </div>
        <div class="description-container">
            <a href="$url$"><h3>$title$</h3></a>
            <p>$abstract$</p>
        </div>
    </div>
$endfor$


<p>
    Find more on my
    <a href="https://gitlab.com/glatteis">GitLab</a> or
    <a href="https://git.rwth-aachen.de/users/h/projects">other GitLab</a> or
    <a href="https://github.com/glatteis/">GitHub</a>
    if you want to.
</p>